* {
    background-color: #272f5b;
}
.header {
    text-align: center;
}
.title {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 160px;
    font-family: Handjet;
    font-weight: 700;
    background: -webkit-linear-gradient(crimson, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sub-title {
    margin-top: 0px;
    font-size: 40px;
    font-family: Handjet;
    font-weight: 500;
    background: -webkit-linear-gradient(crimson, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.button-container{
    border: 2px solid #000;
    background-color: aliceblue;
    border-radius: 20px; 
    padding: 20px;
    margin: auto auto;
    width: 50%;
    min-height: 500px;
    float: center;
    overflow-y: auto;

}

.button-container > button {
    width: auto;
    min-width: 15%;
    height: 50px;
    float: left;
    border-radius: 10px;
    background: rgb(42, 96, 233);   
    margin: 10px;
}

